<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.movintracks.cordovamovintracks"
        version="1.5">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>Movintracks</name>
    <description>A cordova plugin for the Movintracks SDK that brings the power of interactive campaigns with beacons to HTML5 mobile apps</description>
    <author>Movintracks</author>
    <keywords>movintracks, beacons</keywords>
    <license>Copyright 2015 Movintracks All rights reserved</license>
    <js-module src="movintracks.js" name="Movintracks">
        <clobbers target="movintracks" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MovintracksPlugin">
                <param name="android-package" value="com.movintracks.cordovamovintracks.MovintracksPlugin" />
            </feature>
        </config-file>

        <preference name="FACEBOOK_ID" />

        <source-file src="src/android/libs/androidBeaconLibrary.aar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/sdk-movintracks.aar" target-dir="libs" framework="true" />
        <source-file src="src/android/src/LocalConstants.java" target-dir="src/com/movintracks/cordovamovintracks" />
        <source-file src="src/android/src/MovintracksPlugin.java" target-dir="src/com/movintracks/cordovamovintracks" />
        <source-file src="src/android/src/MovintracksApp.java" target-dir="src/com/movintracks/cordovamovintracks" />
        <source-file src="src/android/src/CustomMovintracks.java" target-dir="src/com/movintracks/cordovamovintracks" />
        <source-file src="src/android/src/WebViewActivity.java" target-dir="src/com/movintracks/cordovamovintracks" />
        <source-file src="src/android/src/Utils.java" target-dir="src/com/movintracks/cordovamovintracks" />
        <source-file src="src/android/src/remoteNotifications/GcmBroadcastReceiver.java" target-dir="src/com/movintracks/cordovamovintracks/remoteNotifications" />
        <source-file src="src/android/src/remoteNotifications/GcmIntentService.java" target-dir="src/com/movintracks/cordovamovintracks/remoteNotifications" />
        <source-file src="src/android/build-extras.gradle" target-dir="." />
        <source-file src="oauth_consumer.properties" target-dir="assets/" />
        <source-file src="movintracks.json" target-dir="assets/" />
        <resource-file src="src/android/res/activity_webview.xml" target="res/layout/activity_webview.xml" />
        <resource-file src="src/android/res/facebook_id.xml" target="res/values/facebook_id.xml" />
        <config-file target="res/values/facebook_id.xml" parent="/*">
            <string name="fb_app_id">$FACEBOOK_ID</string>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.VIBRATE"/>

            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

            <!-- GCM requires a Google account. -->
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />

            <!-- Keeps the processor from sleeping when a message is received. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />

            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.movintracks.cordovamovintracks.WebViewActivity"
                android:label="">
            </activity>
            <activity android:name="com.facebook.FacebookActivity" />
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id" />
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

            <!--
              WakefulBroadcastReceiver that will receive intents from GCM
              services and hand them to the custom IntentService.

              The com.google.android.c2dm.permission.SEND permission is necessary
              so only GCM services can send data messages for the app.
            -->
            <receiver
                android:name="com.movintracks.cordovamovintracks.remoteNotifications.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <!-- Receives the actual messages. -->
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            <service android:name="com.movintracks.cordovamovintracks.remoteNotifications.GcmIntentService" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data 
                    android:scheme="oauth" 
                    android:host="t4jsample"/>
            </intent-filter>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MovintracksPlugin">
                <param name="ios-package" value="MovintracksPlugin" />
            </feature>
        </config-file>

        <preference name="FACEBOOK_ID" />

        <!-- Import frameworks -->
        <framework src="Accounts.framework" />
        <framework src="AddressBook.framework" />
        <framework src="AddressBookUI.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="PassKit.framework" />
        <framework src="Social.framework" />

        <framework src="CoreGraphics.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />

        <!-- Import static libraries -->
        <source-file src="src/ios/lib/libMovintracks.a" framework="true" />
        <source-file src="src/ios/lib/libExternalLibs.a" framework="true" />

        <!-- Import libraries headers:
          - Only Movintracks headers.
          - If the project needs to do direct calls to the same libraries that SDK-Movintracks uses, import manually their headers files included in sdk-ios/include/ExternalLibs
        -->
        <header-file src="src/ios/Headers/MTDefines.h"/>
        <header-file src="src/ios/Headers/MTMovintracks.h"/>

        <!-- Import plugin files -->
        <header-file src="src/ios/MovintracksPlugin.h"/>
        <source-file src="src/ios/MovintracksPlugin.m"/>
        <header-file src="src/ios/AppDelegate+Movintracks.h"/>
        <source-file src="src/ios/AppDelegate+Movintracks.m"/>
        <resource-file src="src/ios/MTMovintracks.strings" />
        <source-file src="movintracks.json"/>

        <!-- Configure Info.plist -->
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Please allow this app to listen to iBeacons.</string>
        </config-file>

	<config-file target="*-Info.plist" parent="FacebookAppID" after="NSLocationAlwaysUsageDescription">
		<string>$FACEBOOK_ID</string>
	</config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
        	<array>
            	<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
    		</array>
        </config-file>

    </platform>

    <info>Plugin installed successfully</info>
</plugin>
